* {
    margin: 0;
    padding: 0;
    font-family: "Lato", Helvitica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #d63a3a;
    color: goldenrod;
    padding: 50px;
    text-align: center;
    height: 100vh;
}

img {
    height: 20%;
}

table {
    padding-top: 5vh;
    margin: auto;
    height: 30vh;
    border-spacing: 20px;
}

th {
    font-size: 4vh;
}

td {
    font-size: 8vh;
    text-align: center;
    font-weight: 700px;
    padding: 0px;
}

h2 {
    margin-top: 5vh;
    margin-bottom: 10vh;
    font-size: 3vh;
    text-transform: uppercase;
    word-spacing: 5px;
}

button {
    background-color: #ef941a;
    color: #fffbe2;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    line-height: 0.5;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover,
button:focus {
    background-color: #efa134;
}

button:active {
    transform: translate(0px, 2px);
    -webkit-transform: translate(0px, 2px);
}
